<a href="https://colab.research.google.com/github/malavikasanthosh/machine-learning-project/blob/main/dataset_random.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import datetime
import time
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor

In [ ]:
n=pd.read_csv("flightlast.csv")
#data.head()
n.shape

(25186, 31)

In [ ]:
#data.head()
data=n.sample(n=10000)

In [ ]:
#data.shape

(25000, 31)

In [ ]:
data['DATE'] = pd.to_datetime(data[['YEAR','MONTH', 'DAY']])
data['DATE']

17492   2015-03-09
657     2015-03-08
10682   2015-03-09
17552   2015-03-09
7908    2015-03-09
           ...
11203   2015-03-09
23926   2015-03-10
18073   2015-03-09
4570    2015-03-09
23156   2015-03-10
Name: DATE, Length: 10000, dtype: datetime64[ns]

In [ ]:
labelEncoder=LabelEncoder()
data['AIRLINE']=labelEncoder.fit_transform(data['AIRLINE'])
data['ORIGIN_AIRPORT']=labelEncoder.fit_transform(data['ORIGIN_AIRPORT'])
data['DESTINATION_AIRPORT']=labelEncoder.fit_transform(data['DESTINATION_AIRPORT'])
data['TAIL_NUMBER']=labelEncoder.fit_transform(data['TAIL_NUMBER'])

In [ ]:
def conv_time(time_val):
   if pd.isnull(time_val):
     return np.nan
   else:
      if time_val==2400:
       time_val=0
      time_val="{0:04d}".format(int(time_val))
      time_formatted=datetime.time(int(time_val[0:2]),int(time_val[2:4]))
   return time_formatted

In [ ]:
data['ARRIVAL_TIME']=data['ARRIVAL_TIME'].apply(conv_time)
data['DEPARTURE_TIME']=data['DEPARTURE_TIME'].apply(conv_time)
data['SCHEDULED_DEPARTURE']=data['SCHEDULED_DEPARTURE'].apply(conv_time)
data['WHEELS_OFF']=data['WHEELS_OFF'].apply(conv_time)
data['WHEELS_ON']=data['WHEELS_ON'].apply(conv_time)
data['SCHEDULED_ARRIVAL']=data['SCHEDULED_ARRIVAL'].apply(conv_time)

In [ ]:
data.loc[data['AIRLINE_DELAY'].notnull(),['AIRLINE_DELAY','AIR_SYSTEM_DELAY','SECURITY_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY']]

,AIRLINE_DELAY,AIR_SYSTEM_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
2495,0.0,0.0,0.0,20.0,NaN
1168,36.0,0.0,0.0,0.0,NaN
22619,16.0,0.0,0.0,0.0,NaN
15875,67.0,0.0,0.0,0.0,NaN
10963,8.0,0.0,0.0,159.0,NaN
...,...,...,...,...,...
318,5.0,12.0,0.0,31.0,NaN
352,43.0,6.0,0.0,0.0,NaN
21271,213.0,2.0,0.0,0.0,NaN
16616,0.0,24.0,0.0,0.0,NaN
23926,0.0,0.0,0.0,84.0,NaN

In [ ]:
data['AIR_SYSTEM_DELAY'] = data['AIR_SYSTEM_DELAY'].fillna(0)
data['SECURITY_DELAY'] = data['SECURITY_DELAY'].fillna(0)
data['AIRLINE_DELAY'] = data['AIRLINE_DELAY'].fillna(0)
data['LATE_AIRCRAFT_DELAY'] = data['LATE_AIRCRAFT_DELAY'].fillna(0)
data['WEATHER_DELAY'] = data['WEATHER_DELAY'].fillna(0)

In [ ]:
data.drop('CANCELLATION_REASON', axis = 1, inplace = True)

In [ ]:
data=data.dropna(axis=0)

In [ ]:
data.isna().sum()

YEAR                   0
MONTH                  0
DAY                    0
DAY_OF_WEEK            0
AIRLINE                0
FLIGHT_NUMBER          0
TAIL_NUMBER            0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
TAXI_OUT               0
WHEELS_OFF             0
SCHEDULED_TIME         0
ELAPSED_TIME           0
AIR_TIME               0
DISTANCE               0
WHEELS_ON              0
TAXI_IN                0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
DIVERTED               0
CANCELLED              0
AIR_SYSTEM_DELAY       0
SECURITY_DELAY         0
AIRLINE_DELAY          0
LATE_AIRCRAFT_DELAY    0
WEATHER_DELAY          0
DATE                   0
dtype: int64

In [ ]:
feature_list=['FLIGHT_NUMBER','AIRLINE_DELAY',
              'AIR_SYSTEM_DELAY','WEATHER_DELAY',
              'DEPARTURE_DELAY','ELAPSED_TIME',
              'AIR_TIME','SECURITY_DELAY','MONTH','DAY',
             'DEPARTURE_TIME','ARRIVAL_TIME']
            # 'LATE_AIRCRAFT_DELAY'

In [ ]:
x=data[feature_list]

In [ ]:
y=data.ARRIVAL_DELAY
y=np.array(y)

In [ ]:
x=np.array(x)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=0)

In [ ]:
forest=RandomForestRegressor(n_estimators=400,min_samples_split=15,min_samples_leaf=2,
max_features='auto', max_depth=30)
forest.fit(x_train,y_train)
y_pred=forest.predict(x_test)

In [ ]:
print("Random Forest Score on Training set is",forest.score(x_train, y_train))#Training Accuracy
print("Random Forest Score on Test Set is",forest.score(x_test, y_test))#Testing Accuracy

Random Forest Score on Training set is 0.9499024440113373
Random Forest Score on Test Set is 0.9281593864917315

In [ ]:
from sklearn.metrics import mean_absolute_error
print('Mean Absolute Error:',mean_absolute_error(y_test,y_pred))

Mean Absolute Error: 6.413283997267522

In [ ]:
from sklearn.metrics import mean_squared_error
print('Mean Squared Error:',mean_squared_error(y_test,y_pred))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_pred)))

Mean Squared Error: 74.17302790015641
Root Mean Squared Error: 8.612376437439112

In [ ]:
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

0.9281593864917315

In [ ]:
from sklearn.tree import DecisionTreeRegressor 
d= DecisionTreeRegressor()
d.fit(x_train,y_train)
y_pred=d.predict(x_test)
print(r2_score(y_test,y_pred))

0.8666415274670932

In [ ]:
from xgboost import XGBRegressor
xg=XGBRegressor()
xg.fit(x_train,y_train)
y_pred=xg.predict(x_test)
predictions = [round(value) for value in y_pred]
print(r2_score(y_test,y_pred))

[12:55:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
0.9249343031618356