In [ ]:
import pandas as pd
import numpy as np
import datetime
import time
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor

In [ ]:
airlines_df = pd.read_csv('airlines.csv')
airlines_le = LabelEncoder()
airlines_le.fit(airlines_df['IATA_CODE'].astype(str))
#pickle.dump(airlines_le,open('airlines_encoder.pkl','wb'))

airports_df = pd.read_csv('airports.csv')
airports_le = LabelEncoder()
airports_le.fit(airports_df['IATA_CODE'].astype(str))
#pickle.dump(airports_le,open('airports_encoder.pkl','wb'))

LabelEncoder()

In [ ]:

print(airports_df[['IATA_CODE','AIRPORT']].to_dict("records"))

[{'IATA_CODE': 'ABE', 'AIRPORT': 'Lehigh Valley International Airport'}, {'IATA_CODE': 'ABI', 'AIRPORT': 'Abilene Regional Airport'}, {'IATA_CODE': 'ABQ', 'AIRPORT': 'Albuquerque International Sunport'}, {'IATA_CODE': 'ABR', 'AIRPORT': 'Aberdeen Regional Airport'}, {'IATA_CODE': 'ABY', 'AIRPORT': 'Southwest Georgia Regional Airport'}, {'IATA_CODE': 'ACK', 'AIRPORT': 'Nantucket Memorial Airport'}, {'IATA_CODE': 'ACT', 'AIRPORT': 'Waco Regional Airport'}, {'IATA_CODE': 'ACV', 'AIRPORT': 'Arcata Airport'}, {'IATA_CODE': 'ACY', 'AIRPORT': 'Atlantic City International Airport'}, {'IATA_CODE': 'ADK', 'AIRPORT': 'Adak Airport'}, {'IATA_CODE': 'ADQ', 'AIRPORT': 'Kodiak Airport'}, {'IATA_CODE': 'AEX', 'AIRPORT': 'Alexandria International Airport'}, {'IATA_CODE': 'AGS', 'AIRPORT': 'Augusta Regional Airport\xa0(Bush Field)'}, {'IATA_CODE': 'AKN', 'AIRPORT': 'King Salmon Airport'}, {'IATA_CODE': 'ALB', 'AIRPORT': 'Albany International Airport'}, {'IATA_CODE': 'ALO', 'AIRPORT': 'Waterloo Regional Airport'}, {'IATA_CODE': 'AMA', 'AIRPORT': 'Rick Husband Amarillo International Airport'}, {'IATA_CODE': 'ANC', 'AIRPORT': 'Ted Stevens Anchorage International Airport'}, {'IATA_CODE': 'APN', 'AIRPORT': 'Alpena County Regional Airport'}, {'IATA_CODE': 'ASE', 'AIRPORT': 'Aspen-Pitkin County Airport'}, {'IATA_CODE': 'ATL', 'AIRPORT': 'Hartsfield-Jackson Atlanta International Airport'}, {'IATA_CODE': 'ATW', 'AIRPORT': 'Appleton International Airport'}, {'IATA_CODE': 'AUS', 'AIRPORT': 'Austin-Bergstrom International Airport'}, {'IATA_CODE': 'AVL', 'AIRPORT': 'Asheville Regional Airport'}, {'IATA_CODE': 'AVP', 'AIRPORT': 'Wilkes-Barre/Scranton International Airport'}, {'IATA_CODE': 'AZO', 'AIRPORT': 'Kalamazoo/Battle Creek International Airport'}, {'IATA_CODE': 'BDL', 'AIRPORT': 'Bradley International Airport'}, {'IATA_CODE': 'BET', 'AIRPORT': 'Bethel Airport'}, {'IATA_CODE': 'BFL', 'AIRPORT': 'Meadows Field'}, {'IATA_CODE': 'BGM', 'AIRPORT': 'Greater Binghamton Airport'}, {'IATA_CODE': 'BGR', 'AIRPORT': 'Bangor International Airport'}, {'IATA_CODE': 'BHM', 'AIRPORT': 'Birmingham-Shuttlesworth International Airport'}, {'IATA_CODE': 'BIL', 'AIRPORT': 'Billings Logan International Airport'}, {'IATA_CODE': 'BIS', 'AIRPORT': 'Bismarck Municipal Airport'}, {'IATA_CODE': 'BJI', 'AIRPORT': 'Bemidji Regional Airport'}, {'IATA_CODE': 'BLI', 'AIRPORT': 'Bellingham International Airport'}, {'IATA_CODE': 'BMI', 'AIRPORT': 'Central Illinois Regional Airport at Bloomington-Normal'}, {'IATA_CODE': 'BNA', 'AIRPORT': 'Nashville International Airport'}, {'IATA_CODE': 'BOI', 'AIRPORT': 'Boise Airport\xa0(Boise Air Terminal)'}, {'IATA_CODE': 'BOS', 'AIRPORT': 'Gen. Edward Lawrence Logan International Airport'}, {'IATA_CODE': 'BPT', 'AIRPORT': 'Jack Brooks Regional Airport\xa0(Southeast Texas Regional)'}, {'IATA_CODE': 'BQK', 'AIRPORT': 'Brunswick Golden Isles Airport'}, {'IATA_CODE': 'BQN', 'AIRPORT': 'Rafael Hern√°ndez Airport'}, {'IATA_CODE': 'BRD', 'AIRPORT': 'Brainerd Lakes Regional Airport'}, {'IATA_CODE': 'BRO', 'AIRPORT': 'Brownsville/South Padre Island International Airport'}, {'IATA_CODE': 'BRW', 'AIRPORT': 'Wiley Post-Will Rogers Memorial Airport'}, {'IATA_CODE': 'BTM', 'AIRPORT': 'Bert Mooney Airport'}, {'IATA_CODE': 'BTR', 'AIRPORT': 'Baton Rouge Metropolitan Airport'}, {'IATA_CODE': 'BTV', 'AIRPORT': 'Burlington International Airport'}, {'IATA_CODE': 'BUF', 'AIRPORT': 'Buffalo Niagara International Airport'}, {'IATA_CODE': 'BUR', 'AIRPORT': 'Bob Hope Airport\xa0(Hollywood Burbank Airport)'}, {'IATA_CODE': 'BWI', 'AIRPORT': 'Baltimore-Washington International Airport'}, {'IATA_CODE': 'BZN', 'AIRPORT': 'Bozeman Yellowstone International Airport\xa0(Gallatin Field Airport)'}, {'IATA_CODE': 'CAE', 'AIRPORT': 'Columbia Metropolitan Airport'}, {'IATA_CODE': 'CAK', 'AIRPORT': 'Akron-Canton Regional Airport'}, {'IATA_CODE': 'CDC', 'AIRPORT': 'Cedar City Regional Airport'}, {'IATA_CODE': 'CDV', 'AIRPORT': 'Merle K. (Mudhole) Smith Airport'}, {'IATA_CODE': 'CEC', 'AIRPORT': 'Del Norte County Airport\xa0(Jack McNamara Field)'}, {'IATA_CODE': 'CHA', 'AIRPORT': 'Chattanooga Metropolitan Airport\xa0(Lovell Field)'}, {'IATA_CODE': 'CHO', 'AIRPORT': 'Charlottesville-Albemarle Airport'}, {'IATA_CODE': 'CHS', 'AIRPORT': 'Charleston International Airport/Charleston AFB'}, {'IATA_CODE': 'CID', 'AIRPORT': 'The Eastern Iowa Airport'}, {'IATA_CODE': 'CIU', 'AIRPORT': 'Chippewa County International Airport'}, {'IATA_CODE': 'CLD', 'AIRPORT': 'McClellan-Palomar Airport'}, {'IATA_CODE': 'CLE', 'AIRPORT': 'Cleveland Hopkins International Airport'}, {'IATA_CODE': 'CLL', 'AIRPORT': 'Easterwood Airport'}, {'IATA_CODE': 'CLT', 'AIRPORT': 'Charlotte Douglas International Airport'}, {'IATA_CODE': 'CMH', 'AIRPORT': 'Port Columbus International Airport'}, {'IATA_CODE': 'CMI', 'AIRPORT': 'University of Illinois - Willard Airport'}, {'IATA_CODE': 'CMX', 'AIRPORT': 'Houghton County Memorial Airport'}, {'IATA_CODE': 'CNY', 'AIRPORT': 'Canyonlands Field'}, {'IATA_CODE': 'COD', 'AIRPORT': 'Yellowstone Regional Airport'}, {'IATA_CODE': 'COS', 'AIRPORT': 'City of Colorado Springs Municipal Airport'}, {'IATA_CODE': 'COU', 'AIRPORT': 'Columbia Regional Airport'}, {'IATA_CODE': 'CPR', 'AIRPORT': 'Natrona County International Airport'}, {'IATA_CODE': 'CRP', 'AIRPORT': 'Corpus Christi International Airport'}, {'IATA_CODE': 'CRW', 'AIRPORT': 'Yeager Airport'}, {'IATA_CODE': 'CSG', 'AIRPORT': 'Columbus Metropolitan Airport'}, {'IATA_CODE': 'CVG', 'AIRPORT': 'Cincinnati/Northern Kentucky International Airport'}, {'IATA_CODE': 'CWA', 'AIRPORT': 'Central Wisconsin Airport'}, {'IATA_CODE': 'DAB', 'AIRPORT': 'Daytona Beach International Airport'}, {'IATA_CODE': 'DAL', 'AIRPORT': 'Dallas Love Field'}, {'IATA_CODE': 'DAY', 'AIRPORT': 'James M. Cox Dayton International Airport'}, {'IATA_CODE': 'DBQ', 'AIRPORT': 'Dubuque Regional Airport'}, {'IATA_CODE': 'DCA', 'AIRPORT': 'Ronald Reagan Washington National Airport'}, {'IATA_CODE': 'DEN', 'AIRPORT': 'Denver International Airport'}, {'IATA_CODE': 'DFW', 'AIRPORT': 'Dallas/Fort Worth International Airport'}, {'IATA_CODE': 'DHN', 'AIRPORT': 'Dothan Regional Airport'}, {'IATA_CODE': 'DIK', 'AIRPORT': 'Dickinson Theodore Roosevelt Regional Airport'}, {'IATA_CODE': 'DLG', 'AIRPORT': 'Dillingham Airport'}, {'IATA_CODE': 'DLH', 'AIRPORT': 'Duluth International Airport'}, {'IATA_CODE': 'DRO', 'AIRPORT': 'Durango-La Plata County Airport'}, {'IATA_CODE': 'DSM', 'AIRPORT': 'Des Moines International Airport'}, {'IATA_CODE': 'DTW', 'AIRPORT': 'Detroit Metropolitan Airport'}, {'IATA_CODE': 'DVL', 'AIRPORT': 'Devils Lake Regional Airport'}, {'IATA_CODE': 'EAU', 'AIRPORT': 'Chippewa Valley Regional Airport'}, {'IATA_CODE': 'ECP', 'AIRPORT': 'Northwest Florida Beaches International Airport'}, {'IATA_CODE': 'EGE', 'AIRPORT': 'Eagle County Regional Airport'}, {'IATA_CODE': 'EKO', 'AIRPORT': 'Elko Regional Airport'}, {'IATA_CODE': 'ELM', 'AIRPORT': 'Elmira/Corning Regional Airport'}, {'IATA_CODE': 'ELP', 'AIRPORT': 'El Paso International Airport'}, {'IATA_CODE': 'ERI', 'AIRPORT': 'Erie International Airport'}, {'IATA_CODE': 'ESC', 'AIRPORT': 'Delta County Airport'}, {'IATA_CODE': 'EUG', 'AIRPORT': 'Eugene Airport\xa0(Mahlon Sweet Field)'}, {'IATA_CODE': 'EVV', 'AIRPORT': 'Evansville Regional Airport'}, {'IATA_CODE': 'EWN', 'AIRPORT': 'Coastal Carolina Regional Airport\xa0(Craven County Regional)'}, {'IATA_CODE': 'EWR', 'AIRPORT': 'Newark Liberty International Airport'}, {'IATA_CODE': 'EYW', 'AIRPORT': 'Key West International Airport'}, {'IATA_CODE': 'FAI', 'AIRPORT': 'Fairbanks International Airport'}, {'IATA_CODE': 'FAR', 'AIRPORT': 'Hector International Airport'}, {'IATA_CODE': 'FAT', 'AIRPORT': 'Fresno Yosemite International Airport'}, {'IATA_CODE': 'FAY', 'AIRPORT': 'Fayetteville Regional Airport'}, {'IATA_CODE': 'FCA', 'AIRPORT': 'Glacier Park International Airport'}, {'IATA_CODE': 'FLG', 'AIRPORT': 'Flagstaff Pulliam Airport'}, {'IATA_CODE': 'FLL', 'AIRPORT': 'Fort Lauderdale-Hollywood International Airport'}, {'IATA_CODE': 'FNT', 'AIRPORT': 'Bishop International Airport'}, {'IATA_CODE': 'FSD', 'AIRPORT': 'Sioux Falls Regional Airport'}, {'IATA_CODE': 'FSM', 'AIRPORT': 'Fort Smith Regional Airport'}, {'IATA_CODE': 'FWA', 'AIRPORT': 'Fort Wayne International Airport'}, {'IATA_CODE': 'GCC', 'AIRPORT': 'Gillette-Campbell County Airport'}, {'IATA_CODE': 'GCK', 'AIRPORT': 'Garden City Regional Airport'}, {'IATA_CODE': 'GEG', 'AIRPORT': 'Spokane International Airport'}, {'IATA_CODE': 'GFK', 'AIRPORT': 'Grand Forks International Airport'}, {'IATA_CODE': 'GGG', 'AIRPORT': 'East Texas Regional Airport'}, {'IATA_CODE': 'GJT', 'AIRPORT': 'Grand Junction Regional Airport\xa0(Walker Field)'}, {'IATA_CODE': 'GNV', 'AIRPORT': 'Gainesville Regional Airport'}, {'IATA_CODE': 'GPT', 'AIRPORT': 'Gulfport-Biloxi International Airport'}, {'IATA_CODE': 'GRB', 'AIRPORT': 'Green Bay-Austin Straubel International Airport'}, {'IATA_CODE': 'GRI', 'AIRPORT': 'Central Nebraska Regional Airport'}, {'IATA_CODE': 'GRK', 'AIRPORT': 'Killeen-Fort Hood Regional Airport'}, {'IATA_CODE': 'GRR', 'AIRPORT': 'Gerald R. Ford International Airport'}, {'IATA_CODE': 'GSO', 'AIRPORT': 'Piedmont Triad International Airport'}, {'IATA_CODE': 'GSP', 'AIRPORT': 'Greenville-Spartanburg International Airport'}, {'IATA_CODE': 'GST', 'AIRPORT': 'Gustavus Airport'}, {'IATA_CODE': 'GTF', 'AIRPORT': 'Great Falls International Airport'}, {'IATA_CODE': 'GTR', 'AIRPORT': 'Golden Triangle Regional Airport'}, {'IATA_CODE': 'GUC', 'AIRPORT': 'Gunnison-Crested Butte Regional Airport'}, {'IATA_CODE': 'GUM', 'AIRPORT': 'Guam International Airport'}, {'IATA_CODE': 'HDN', 'AIRPORT': 'Yampa Valley Airport\xa0(Yampa Valley Regional)'}, {'IATA_CODE': 'HIB', 'AIRPORT': 'Range Regional Airport\xa0(Chisholm-Hibbing Airport)'}, {'IATA_CODE': 'HLN', 'AIRPORT': 'Helena Regional Airport'}, {'IATA_CODE': 'HNL', 'AIRPORT': 'Honolulu International Airport'}, {'IATA_CODE': 'HOB', 'AIRPORT': 'Lea County Regional Airport'}, {'IATA_CODE': 'HOU', 'AIRPORT': 'William P. Hobby Airport'}, {'IATA_CODE': 'HPN', 'AIRPORT': 'Westchester County Airport'}, {'IATA_CODE': 'HRL', 'AIRPORT': 'Valley International Airport'}, {'IATA_CODE': 'HSV', 'AIRPORT': 'Huntsville International Airport'}, {'IATA_CODE': 'HYA', 'AIRPORT': 'Barnstable Municipal Airport'}, {'IATA_CODE': 'HYS', 'AIRPORT': 'Hays Regional Airport'}, {'IATA_CODE': 'IAD', 'AIRPORT': 'Washington Dulles International Airport'}, {'IATA_CODE': 'IAG', 'AIRPORT': 'Niagara Falls International Airport'}, {'IATA_CODE': 'IAH', 'AIRPORT': 'George Bush Intercontinental Airport'}, {'IATA_CODE': 'ICT', 'AIRPORT': 'Wichita Dwight D. Eisenhower National Airport\xa0(Wichita Mid-Continent Airport)'}, {'IATA_CODE': 'IDA', 'AIRPORT': 'Idaho Falls Regional Airport'}, {'IATA_CODE': 'ILG', 'AIRPORT': 'Wilmington Airport'}, {'IATA_CODE': 'ILM', 'AIRPORT': 'Wilmington International Airport'}, {'IATA_CODE': 'IMT', 'AIRPORT': 'Ford Airport'}, {'IATA_CODE': 'IND', 'AIRPORT': 'Indianapolis International Airport'}, {'IATA_CODE': 'INL', 'AIRPORT': 'Falls International Airport'}, {'IATA_CODE': 'ISN', 'AIRPORT': 'Sloulin Field International Airport'}, {'IATA_CODE': 'ISP', 'AIRPORT': 'Long Island MacArthur Airport'}, {'IATA_CODE': 'ITH', 'AIRPORT': 'Ithaca Tompkins Regional Airport'}, {'IATA_CODE': 'ITO', 'AIRPORT': 'Hilo International Airport'}, {'IATA_CODE': 'JAC', 'AIRPORT': 'Jackson Hole Airport'}, {'IATA_CODE': 'JAN', 'AIRPORT': 'Jackson-Evers International Airport'}, {'IATA_CODE': 'JAX', 'AIRPORT': 'Jacksonville International Airport'}, {'IATA_CODE': 'JFK', 'AIRPORT': 'John F. Kennedy International Airport\xa0(New York International Airport)'}, {'IATA_CODE': 'JLN', 'AIRPORT': 'Joplin Regional Airport'}, {'IATA_CODE': 'JMS', 'AIRPORT': 'Jamestown Regional Airport'}, {'IATA_CODE': 'JNU', 'AIRPORT': 'Juneau International Airport'}, {'IATA_CODE': 'KOA', 'AIRPORT': 'Kona International Airport at Keahole'}, {'IATA_CODE': 'KTN', 'AIRPORT': 'Ketchikan International Airport'}, {'IATA_CODE': 'LAN', 'AIRPORT': 'Capital Region International Airport\xa0( Lansing Capital City)'}, {'IATA_CODE': 'LAR', 'AIRPORT': 'Laramie Regional Airport'}, {'IATA_CODE': 'LAS', 'AIRPORT': 'McCarran International Airport'}, {'IATA_CODE': 'LAW', 'AIRPORT': 'Lawton-Fort Sill Regional Airport'}, {'IATA_CODE': 'LAX', 'AIRPORT': 'Los Angeles International Airport'}, {'IATA_CODE': 'LBB', 'AIRPORT': 'Lubbock Preston Smith International Airport'}, {'IATA_CODE': 'LBE', 'AIRPORT': 'Arnold Palmer Regional Airport'}, {'IATA_CODE': 'LCH', 'AIRPORT': 'Lake Charles Regional Airport'}, {'IATA_CODE': 'LEX', 'AIRPORT': 'Blue Grass Airport'}, {'IATA_CODE': 'LFT', 'AIRPORT': 'Lafayette Regional Airport'}, {'IATA_CODE': 'LGA', 'AIRPORT': 'LaGuardia Airport (Marine Air Terminal)'}, {'IATA_CODE': 'LGB', 'AIRPORT': 'Long Beach Airport\xa0(Daugherty Field)'}, {'IATA_CODE': 'LIH', 'AIRPORT': 'Lihue Airport'}, {'IATA_CODE': 'LIT', 'AIRPORT': 'Bill and Hillary Clinton National Airport\xa0(Adams Field)'}, {'IATA_CODE': 'LNK', 'AIRPORT': 'Lincoln Airport\xa0(Lincoln Municipal)'}, {'IATA_CODE': 'LRD', 'AIRPORT': 'Laredo International Airport'}, {'IATA_CODE': 'LSE', 'AIRPORT': 'La Crosse Regional Airport'}, {'IATA_CODE': 'LWS', 'AIRPORT': 'Lewiston-Nez Perce County Airport'}, {'IATA_CODE': 'MAF', 'AIRPORT': 'Midland International Airport'}, {'IATA_CODE': 'MBS', 'AIRPORT': 'MBS International Airport'}, {'IATA_CODE': 'MCI', 'AIRPORT': 'Kansas City International Airport'}, {'IATA_CODE': 'MCO', 'AIRPORT': 'Orlando International Airport'}, {'IATA_CODE': 'MDT', 'AIRPORT': 'Harrisburg International Airport'}, {'IATA_CODE': 'MDW', 'AIRPORT': 'Chicago Midway International Airport'}, {'IATA_CODE': 'MEI', 'AIRPORT': 'Meridian Regional Airport'}, {'IATA_CODE': 'MEM', 'AIRPORT': 'Memphis International Airport'}, {'IATA_CODE': 'MFE', 'AIRPORT': 'McAllen-Miller International Airport\xa0(McAllen Miller International)'}, {'IATA_CODE': 'MFR', 'AIRPORT': 'Rogue Valley International Airport'}, {'IATA_CODE': 'MGM', 'AIRPORT': 'Montgomery Regional Airport'}, {'IATA_CODE': 'MHK', 'AIRPORT': 'Manhattan Regional Airport'}, {'IATA_CODE': 'MHT', 'AIRPORT': 'Manchester-Boston Regional Airport'}, {'IATA_CODE': 'MIA', 'AIRPORT': 'Miami International Airport'}, {'IATA_CODE': 'MKE', 'AIRPORT': 'General Mitchell International Airport'}, {'IATA_CODE': 'MKG', 'AIRPORT': 'Muskegon County Airport'}, {'IATA_CODE': 'MLB', 'AIRPORT': 'Melbourne International Airport'}, {'IATA_CODE': 'MLI', 'AIRPORT': 'Quad City International Airport'}, {'IATA_CODE': 'MLU', 'AIRPORT': 'Monroe Regional Airport'}, {'IATA_CODE': 'MMH', 'AIRPORT': 'Mammoth Yosemite Airport'}, {'IATA_CODE': 'MOB', 'AIRPORT': 'Mobile Regional Airport'}, {'IATA_CODE': 'MOT', 'AIRPORT': 'Minot International Airport'}, {'IATA_CODE': 'MQT', 'AIRPORT': 'Sawyer International Airport'}, {'IATA_CODE': 'MRY', 'AIRPORT': 'Monterey Regional Airport\xa0(Monterey Peninsula Airport)'}, {'IATA_CODE': 'MSN', 'AIRPORT': 'Dane County Regional Airport'}, {'IATA_CODE': 'MSO', 'AIRPORT': 'Missoula International Airport'}, {'IATA_CODE': 'MSP', 'AIRPORT': 'Minneapolis-Saint Paul International Airport'}, {'IATA_CODE': 'MSY', 'AIRPORT': 'Louis Armstrong New Orleans International Airport'}, {'IATA_CODE': 'MTJ', 'AIRPORT': 'Montrose Regional Airport'}, {'IATA_CODE': 'MVY', 'AIRPORT': "Martha's Vineyard Airport"}, {'IATA_CODE': 'MYR', 'AIRPORT': 'Myrtle Beach International Airport'}, {'IATA_CODE': 'OAJ', 'AIRPORT': 'Albert J. Ellis Airport'}, {'IATA_CODE': 'OAK', 'AIRPORT': 'Oakland International Airport'}, {'IATA_CODE': 'OGG', 'AIRPORT': 'Kahului Airport'}, {'IATA_CODE': 'OKC', 'AIRPORT': 'Will Rogers World Airport'}, {'IATA_CODE': 'OMA', 'AIRPORT': 'Eppley Airfield'}, {'IATA_CODE': 'OME', 'AIRPORT': 'Nome Airport'}, {'IATA_CODE': 'ONT', 'AIRPORT': 'Ontario International Airport'}, {'IATA_CODE': 'ORD', 'AIRPORT': "Chicago O'Hare International Airport"}, {'IATA_CODE': 'ORF', 'AIRPORT': 'Norfolk International Airport'}, {'IATA_CODE': 'ORH', 'AIRPORT': 'Worcester Regional Airport'}, {'IATA_CODE': 'OTH', 'AIRPORT': 'Southwest Oregon Regional Airport\xa0(North Bend Municipal)'}, {'IATA_CODE': 'OTZ', 'AIRPORT': 'Ralph Wien Memorial Airport'}, {'IATA_CODE': 'PAH', 'AIRPORT': 'Barkley Regional Airport'}, {'IATA_CODE': 'PBG', 'AIRPORT': 'Plattsburgh International Airport'}, {'IATA_CODE': 'PBI', 'AIRPORT': 'Palm Beach International Airport'}, {'IATA_CODE': 'PDX', 'AIRPORT': 'Portland International Airport'}, {'IATA_CODE': 'PHF', 'AIRPORT': 'Newport News/Williamsburg International Airport'}, {'IATA_CODE': 'PHL', 'AIRPORT': 'Philadelphia International Airport'}, {'IATA_CODE': 'PHX', 'AIRPORT': 'Phoenix Sky Harbor International Airport'}, {'IATA_CODE': 'PIA', 'AIRPORT': 'General Wayne A. Downing Peoria International Airport'}, {'IATA_CODE': 'PIB', 'AIRPORT': 'Hattiesburg-Laurel Regional Airport'}, {'IATA_CODE': 'PIH', 'AIRPORT': 'Pocatello Regional Airport'}, {'IATA_CODE': 'PIT', 'AIRPORT': 'Pittsburgh International Airport'}, {'IATA_CODE': 'PLN', 'AIRPORT': 'Pellston Regional Airport of Emmet County'}, {'IATA_CODE': 'PNS', 'AIRPORT': 'Pensacola International Airport\xa0(Pensacola Gulf Coast Regional Airport)'}, {'IATA_CODE': 'PPG', 'AIRPORT': 'Pago Pago International Airport (Tafuna Airport)'}, {'IATA_CODE': 'PSC', 'AIRPORT': 'Tri-Cities Airport'}, {'IATA_CODE': 'PSE', 'AIRPORT': 'Mercedita Airport'}, {'IATA_CODE': 'PSG', 'AIRPORT': 'Petersburg James A. Johnson Airport'}, {'IATA_CODE': 'PSP', 'AIRPORT': 'Palm Springs International Airport'}, {'IATA_CODE': 'PUB', 'AIRPORT': 'Pueblo Memorial Airport'}, {'IATA_CODE': 'PVD', 'AIRPORT': 'Theodore Francis Green State Airport'}, {'IATA_CODE': 'PWM', 'AIRPORT': 'Portland International Jetport'}, {'IATA_CODE': 'RAP', 'AIRPORT': 'Rapid City Regional Airport'}, {'IATA_CODE': 'RDD', 'AIRPORT': 'Redding Municipal Airport'}, {'IATA_CODE': 'RDM', 'AIRPORT': 'Redmond Municipal Airport\xa0(Roberts Field)'}, {'IATA_CODE': 'RDU', 'AIRPORT': 'Raleigh-Durham International Airport'}, {'IATA_CODE': 'RHI', 'AIRPORT': 'Rhinelander-Oneida County Airport'}, {'IATA_CODE': 'RIC', 'AIRPORT': 'Richmond International Airport'}, {'IATA_CODE': 'RKS', 'AIRPORT': 'Rock Springs-Sweetwater County Airport'}, {'IATA_CODE': 'RNO', 'AIRPORT': 'Reno/Tahoe International Airport'}, {'IATA_CODE': 'ROA', 'AIRPORT': 'Roanoke Regional Airport\xa0(Woodrum Field)'}, {'IATA_CODE': 'ROC', 'AIRPORT': 'Greater Rochester International Airport'}, {'IATA_CODE': 'ROW', 'AIRPORT': 'Roswell International Air Center'}, {'IATA_CODE': 'RST', 'AIRPORT': 'Rochester International Airport'}, {'IATA_CODE': 'RSW', 'AIRPORT': 'Southwest Florida International Airport'}, {'IATA_CODE': 'SAF', 'AIRPORT': 'Santa Fe Municipal Airport'}, {'IATA_CODE': 'SAN', 'AIRPORT': 'San Diego International Airport\xa0(Lindbergh Field)'}, {'IATA_CODE': 'SAT', 'AIRPORT': 'San Antonio International Airport'}, {'IATA_CODE': 'SAV', 'AIRPORT': 'Savannah/Hilton Head International Airport'}, {'IATA_CODE': 'SBA', 'AIRPORT': 'Santa Barbara Municipal Airport\xa0(Santa Barbara Airport)'}, {'IATA_CODE': 'SBN', 'AIRPORT': 'South Bend International Airport\xa0(South Bend Regional)'}, {'IATA_CODE': 'SBP', 'AIRPORT': 'San Luis Obispo County Regional Airport\xa0(McChesney Field)'}, {'IATA_CODE': 'SCC', 'AIRPORT': 'Deadhorse Airport\xa0(Prudhoe Bay Airport)'}, {'IATA_CODE': 'SCE', 'AIRPORT': 'University Park Airport'}, {'IATA_CODE': 'SDF', 'AIRPORT': 'Louisville International Airport\xa0(Standiford Field)'}, {'IATA_CODE': 'SEA', 'AIRPORT': 'Seattle-Tacoma International Airport'}, {'IATA_CODE': 'SFO', 'AIRPORT': 'San Francisco International Airport'}, {'IATA_CODE': 'SGF', 'AIRPORT': 'Springfield-Branson National Airport'}, {'IATA_CODE': 'SGU', 'AIRPORT': 'St. George Regional Airport'}, {'IATA_CODE': 'SHV', 'AIRPORT': 'Shreveport Regional Airport'}, {'IATA_CODE': 'SIT', 'AIRPORT': 'Sitka Rocky Gutierrez Airport'}, {'IATA_CODE': 'SJC', 'AIRPORT': 'Norman Y. Mineta San Jos√© International Airport'}, {'IATA_CODE': 'SJT', 'AIRPORT': 'San Angelo Regional Airport\xa0(Mathis Field)'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
n=pd.read_csv('/content/drive/My Drive/flights.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
n.shape

(5819079, 31)

In [ ]:
data=n.sample(n=10000)

In [ ]:
data.to_csv("flight_sample.csv",sep=",")

In [ ]:
data.head()
data.shape

(10000, 31)

In [ ]:
data['DATE'] = pd.to_datetime(data[['YEAR','MONTH', 'DAY']])
data['DATE']

1677653   2015-04-17
2545447   2015-06-10
3032558   2015-07-09
1477387   2015-04-05
3158747   2015-07-17
             ...
234782    2015-01-16
2774565   2015-06-24
4403227   2015-10-02
3680127   2015-08-17
3217369   2015-07-20
Name: DATE, Length: 10000, dtype: datetime64[ns]

In [ ]:
print(data['AIRLINE'])

1677653    DL
2545447    NK
3032558    WN
1477387    EV
3158747    WN
           ..
234782     MQ
2774565    DL
4403227    AA
3680127    AS
3217369    UA
Name: AIRLINE, Length: 10000, dtype: object

In [ ]:
data=data[data['ORIGIN_AIRPORT'].apply(lambda x: not (str(x).isdigit()))]
data=data[data['DESTINATION_AIRPORT'].apply(lambda x: not (str(x).isdigit()))]
data=data[data['AIRLINE'].apply(lambda x: not (str(x).isdigit()))]

In [ ]:
#airlines_le = LabelEncoder()
#airports_le = LabelEncoder()
data['AIRLINE']=airlines_le.transform(data['AIRLINE'].astype(str))
data['ORIGIN_AIRPORT']=airports_le.transform(data['ORIGIN_AIRPORT'].astype(str))
data['DESTINATION_AIRPORT']=airports_le.transform(data['DESTINATION_AIRPORT'].astype(str))

In [ ]:
pickle.dump(labelEncoder,open('encoder.pkl','wb'))

In [ ]:
data.loc[data['AIRLINE_DELAY'].notnull(),['AIRLINE_DELAY','AIR_SYSTEM_DELAY','SECURITY_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY']]

,AIRLINE_DELAY,AIR_SYSTEM_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
3158747,7.0,0.0,0.0,64.0,0.0
1633335,0.0,0.0,0.0,88.0,0.0
1059925,26.0,7.0,0.0,0.0,0.0
1154228,0.0,4.0,0.0,75.0,0.0
5547760,0.0,0.0,0.0,53.0,0.0
...,...,...,...,...,...
820988,0.0,0.0,0.0,61.0,14.0
1717961,0.0,0.0,0.0,37.0,0.0
917608,1.0,2.0,0.0,27.0,0.0
5771931,26.0,0.0,0.0,7.0,0.0
42053,0.0,9.0,0.0,0.0,24.0

In [ ]:
data['AIR_SYSTEM_DELAY'] = data['AIR_SYSTEM_DELAY'].fillna(0)
data['SECURITY_DELAY'] = data['SECURITY_DELAY'].fillna(0)
data['AIRLINE_DELAY'] = data['AIRLINE_DELAY'].fillna(0)
data['LATE_AIRCRAFT_DELAY'] = data['LATE_AIRCRAFT_DELAY'].fillna(0)
data['WEATHER_DELAY'] = data['WEATHER_DELAY'].fillna(0)

In [ ]:
data.drop('CANCELLATION_REASON', axis = 1, inplace = True)

In [ ]:
data=data.dropna(axis=0)

In [ ]:
data.isna().sum()

YEAR                   0
MONTH                  0
DAY                    0
DAY_OF_WEEK            0
AIRLINE                0
FLIGHT_NUMBER          0
TAIL_NUMBER            0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
TAXI_OUT               0
WHEELS_OFF             0
SCHEDULED_TIME         0
ELAPSED_TIME           0
AIR_TIME               0
DISTANCE               0
WHEELS_ON              0
TAXI_IN                0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
DIVERTED               0
CANCELLED              0
AIR_SYSTEM_DELAY       0
SECURITY_DELAY         0
AIRLINE_DELAY          0
LATE_AIRCRAFT_DELAY    0
WEATHER_DELAY          0
DATE                   0
dtype: int64

In [ ]:
feature_list=['MONTH','DAY','AIRLINE','SCHEDULED_ARRIVAL','ORIGIN_AIRPORT','DESTINATION_AIRPORT',
              'AIR_SYSTEM_DELAY','WEATHER_DELAY','SECURITY_DELAY','LATE_AIRCRAFT_DELAY',
              'AIRLINE_DELAY','DEPARTURE_DELAY']

In [ ]:
x=data[feature_list]

In [ ]:
x

,MONTH,DAY,AIRLINE,SCHEDULED_ARRIVAL,ORIGIN_AIRPORT,DESTINATION_AIRPORT,AIR_SYSTEM_DELAY,WEATHER_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,AIRLINE_DELAY,DEPARTURE_DELAY
1677653,4,17,3,2059,20,239,0.0,0.0,0.0,0.0,0.0,0.0
2545447,6,10,8,1602,64,220,0.0,0.0,0.0,0.0,0.0,-9.0
3032558,7,9,13,1820,22,81,0.0,0.0,0.0,0.0,0.0,0.0
1477387,4,5,4,1649,211,85,0.0,0.0,0.0,0.0,0.0,-9.0
3158747,7,17,13,1110,176,85,0.0,0.0,0.0,64.0,7.0,81.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5470362,12,9,0,1543,84,203,0.0,0.0,0.0,0.0,0.0,-3.0
234782,1,16,7,935,228,188,0.0,0.0,0.0,0.0,0.0,-5.0
2774565,6,24,3,938,245,20,0.0,0.0,0.0,0.0,0.0,0.0
3680127,8,17,1,846,277,171,0.0,0.0,0.0,0.0,0.0,-2.0
3217369,7,20,10,1958,106,193,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
encoder=LabelEncoder()
x.iloc[:,feature_list.index('AIRLINE')]=encoder.fit_transform(x.iloc[:,feature_list.index('AIRLINE')])

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [ ]:
x

,MONTH,DAY,AIRLINE,SCHEDULED_ARRIVAL,ORIGIN_AIRPORT,DESTINATION_AIRPORT,AIR_SYSTEM_DELAY,WEATHER_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,AIRLINE_DELAY,DEPARTURE_DELAY
1677653,4,17,3,2059,20,239,0.0,0.0,0.0,0.0,0.0,0.0
2545447,6,10,8,1602,64,220,0.0,0.0,0.0,0.0,0.0,-9.0
3032558,7,9,13,1820,22,81,0.0,0.0,0.0,0.0,0.0,0.0
1477387,4,5,4,1649,211,85,0.0,0.0,0.0,0.0,0.0,-9.0
3158747,7,17,13,1110,176,85,0.0,0.0,0.0,64.0,7.0,81.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5470362,12,9,0,1543,84,203,0.0,0.0,0.0,0.0,0.0,-3.0
234782,1,16,7,935,228,188,0.0,0.0,0.0,0.0,0.0,-5.0
2774565,6,24,3,938,245,20,0.0,0.0,0.0,0.0,0.0,0.0
3680127,8,17,1,846,277,171,0.0,0.0,0.0,0.0,0.0,-2.0
3217369,7,20,10,1958,106,193,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
y=data.ARRIVAL_DELAY
y=np.array(y)

In [ ]:
x=np.array(x)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [ ]:
x_train

array([[ 4.,  1.,  4., ...,  0.,  0., -6.],
       [ 8., 30.,  2., ...,  0.,  0., -2.],
       [ 7., 14.,  3., ...,  0.,  0.,  5.],
       ...,
       [ 9., 25.,  7., ...,  0.,  0., -3.],
       [ 9., 28.,  0., ...,  0.,  0., -5.],
       [ 4.,  7., 13., ...,  0.,  0., 14.]])

In [ ]:
from sklearn.tree import DecisionTreeRegressor 
from sklearn.metrics import r2_score
d= DecisionTreeRegressor()
d.fit(x_train,y_train)
y_pred=d.predict(x_test)
print(r2_score(y_test,y_pred))

0.8689187361348646

In [ ]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
print('Mean Absolute Error:',mean_absolute_error(y_test,y_pred))
print('Mean Squared Error:',mean_squared_error(y_test,y_pred))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 10.021158129175946
Mean Squared Error: 182.0946547884187
Root Mean Squared Error: 13.494245247082873

In [ ]:
import pickle
pickle.dump(d, open('decision_tree86.pkl', 'wb'))